extends ../layout
block body
  div(ng-controller='SiteCtrl')
    form(ng-submit='addSite()')
      input(ng-model='site.name')
    div(ng-repeat='site in sites track by $index')
      span(contenteditable='true' ng-keyup='updateSite($event, site)')
        {{site.name}}
      button(ng-click='removeSite(site)') Remove
