extends ../layout
block body
  div(ng-controller='SiteCtrl')
    div
      form(ng-submit='add(site)')
        input(ng-model='newSite.name')
      div(ng-repeat='site in sites track by $index')
        input(ng-click='open(site)' ng-keyup='update(site)' ng-model='site.name')
        button(ng-click='remove(site)') Remove
    h1 Include
    form(ng-submit='open.crawlRules.push(open.newRule);update(open)')
      input(ng-model='open.newRule')
    div(ng-repeat='rule in open.crawlRules')
      input(ng-keyup='update(open)' ng-model='rule')
    h1 Ignore
    div(ng-repeat='rule in open.notCrawlRules')
      input(ng-keyup='update(open)' ng-model='rule')

